/* Centering the login container */
.container-login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    padding: 5px;
    

}

/* Login Box Styling */
.login-box {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 10px;
    width: 350px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center; 
    margin-top: 5px;
    background-color: #123458;
    position: absolute;
    top: 30%;
    left: 35%;
    
}


/* Login Title */
.login-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

/* Form Styling */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Input Fields */
.login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Submit Button */
.btn-login {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    background-color: #0056b3;
}
